:root {
  --pink-light: #FFC0CB;      
  --purple-light: #D8BFD8;  
  --cream-light: #FFF5E1;     
  --white-warm: #FFFFFF;    
  --yellow-flower: #FFF176;   
  --orange-light: #FFA07A;    
  --pink-dark: #FF69B4;      
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
    font-family: "Playfair Display", Arial, sans-serif;
}
html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    scroll-padding-top:6rem ;
    overflow-x: hidden;
}
section{
    padding: 2rem 9%;
}
.heading{
    text-align: center;
    font-size: 4rem;
    color: var(--pink-dark);
    padding: 1.5rem 2rem;
    margin: 3rem auto;
    background: linear-gradient(
        90deg,
        var(--pink-light),
        var(--cream-light)
    );
    border-radius: 5rem;
    width: fit-content;
    box-shadow: 0 .5rem 1.5rem rgba(0,0,0,.1);
    letter-spacing: 2px;
}
.heading span{
    color: var(--orange-light);
}
.btn{
    display: inline-block;
    margin-top: 1rem;
    border-radius: 5rem;
    background-color: #333;
    color: #fff;
    padding: .9rem 3.5rem;
    cursor: pointer;
    font-size: 1.7rem;
}
.btn:hover{
    background-color: var(--pink-light);
}
header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: var(--white-warm);
    padding: 2rem 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0,.1);
    backdrop-filter: blur(6px);
}
header .logo{
    font-size: 3rem;
    color: var(--pink-light);
    font-weight: bolder;
    letter-spacing: 2px;
}
header .logo span{
    color: var(--pink-dark);
}
header .navbar a{
    font-size: 1.8rem;
    padding: 0 1.5rem;
    color: var(--pink-light);
    position: relative;
}
header .navbar a::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 0;
    height: 2px;
    background: var(--pink-dark);
    transition: 0.3s;
}
header .navbar a:hover::after{
    width: 100%;
}
header .icons a{
    font-size: 2.5rem;
    color: var(--pink-light);
    margin-left: 1.5rem;
}
header .icons a:hover{
    color: var(--pink-dark);
}
header #toggler{
    display: none;
}
header .fa-bars{
    font-size: 3rem;
    color: #333;
    border-radius: .5rem;
    padding: .5rem 1.5rem;
    cursor: pointer;
    border: .1rem solid rgba(0, 0, 0, .3);
    display: none;
}
.home {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background:
    url("./images/home-logo.png")
    no-repeat center/cover;
}
.home .content {
  max-width: 60rem;
}
.home h1 {
  font-size: 6rem;
  color: var(--pink-dark);
  margin-bottom: 1rem;
}
.home p {
  font-size: 1.8rem;
  color: #fff;
  line-height: 1.8;
  margin-bottom: 2rem;
}
.about{
    background: var(--white-warm);
}
.about .row{
    display: flex;
    align-items: center;
    gap: 4rem;
    flex-wrap: wrap;
    padding: 3rem 0;
}
.about .row .video-container{
    flex: 1 1 45rem;
    position: relative;
    display: flex;
    justify-content: center;
}
.about .row .video-container video{
    width: 70%;
    border-radius: 1rem;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0,0.15);
    object-fit: cover;
}
.about .row .video-container h3{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2.6rem;
    background: rgba(255, 255, 255, 0.85);
    width: 100%;
    padding: 1rem 2rem;
    text-align: center;
    mix-blend-mode: screen;
    animation: fadeIn 1.2s ease-in-out;
}
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translate(-50%, -40%);
    }
    to {
        opacity: 1;
        transform: translate(-50%, -50%);
    }
}
.about .row .content{
    flex: 1 1 45rem;
}
.about .row .content h3{
    font-size: 3.5rem;
    color: var(--pink-dark);
    margin-bottom: 1rem;
}
.about .row .content p{
    font-size: 1.6rem;
    color: #666;
    padding: .5rem 0;
    margin-bottom: 2rem;
    line-height: 1.8;
}
.icons-container{
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    background: #eee;
    padding: 5rem 9%;
}
.icons-container .icon{
    background: var(--cream-light);
    border: .1rem solid rgba(0, 0, 0, .1);
    padding: 2.5rem 2rem;
    display: flex;
    align-items: center;
    gap: 1.5rem;
    flex: 1 1 25rem;
    border-radius: 1rem;
    transition: .3s;
}
.icons-container .icon i{
    font-size: 4rem;
    color: var(--pink-dark);
}
.icons-container .icon h3{
    font-size: 2rem;
    color: #333;
}
.icons-container .icon p{
    font-size: 1.4rem;
    color: #666;
}
.icons-container .icon:hover{
    background: var(--pink-light);
}
.icons-container .icon:hover i,
.icons-container .icon:hover h3,
.icons-container .icon:hover p{
    color: #fff;
    cursor: pointer;
}
.products .box-container{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}
.products .box-container .box{
    flex: 1 1 30rem;
    box-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, .1);
    border-radius: .5rem;
    border: .1rem solid rgba(0, 0, 0, .1);
    position: relative;
}
.products .box-container .box .discount{
    position: absolute;
    top: 1rem;
    left: 1rem;
    padding: .7rem 1rem;
    font-size: 2rem;
    color: var(--white-warm);
    background: var(--pink-light);
    z-index: 1;
    border-radius: .5rem;
}
.products .box-container .box .image{
    position: relative;
    text-align: center;
    padding-top: 2rem;
    overflow: hidden;
}
.products .box-container .box .image img{
    height: 25rem;
}
.products .box-container .box:hover .image img{
    transform: scale(1.1);
}
.products .box-container .box .image .icons{
    position: absolute;
    bottom: -7rem;
    left: 0;
    right: 0;
    display: flex;
}
.products .box-container .box:hover .image .icons{
    bottom: 0;
}
.products .box-container .box .image .icons a{
    height: 5rem;
    line-height: 5rem;
    font-size: 2rem;
    width: 50%;
    background: var(--pink-light);
    color: #fff;
}
.products .box-container .box .image .icons .cart-btn{
    border-left: .1rem solid #fff7;
    border-right: .1rem solid #fff7;
    width: 100%;
}
.products .box-container .box .image .icons a:hover{
    background: #333;
}
.products .box-container .box .content{
    padding: 2rem;
    text-align: center;
}
.products .box-container .box .content h3{
    font-size: 2.5rem;
    color: #333;
}
.products .box-container .box .content .price{
    font-size: 2.8rem;
    color: var(--pink-dark);
    font-weight: bolder;
    padding-top: 1rem;
}
.products .box-container .box .content .price span{
    font-size: 1.8rem;
    color: #999;
    font-weight: lighter;
    text-decoration: line-through;
}
.review .box-container{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}
.review .box-container .box{
    flex: 1 1 30rem;
    box-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, .1);
    border-radius: 1rem;
    padding: 3rem 2rem;
    position: relative;
    border: none;
    background: var(--white-warm);
    transition: transform 0.3s ,box-shadow 0.3s;
}
.review .box-container .box .fa-quote-right{
    position: absolute;
    bottom: 2rem;
    right: 2rem;
    font-size: 5rem;
    color: var(--pink-light);
    opacity: 0.2;
}
.review .box-container .box:hover{
    transform: translateY(-1rem);
    box-shadow: 0 1.5rem 3rem rgba(0, 0, 0,0.15);
}
.review .box-container .box .stars i{
    color: var(--pink-dark);
    font-size: 2rem;
    transition: transform .3s;
}
.review .box-container .box:hover .stars i{
    transform: scale(1.1);
}
.review .box-container .box  p{
    color: #666;
    font-size: 1.5rem;
    line-height: 1.6;
    padding-top: 1.5rem;
}
.review .box-container .box .user{
    display: flex;
    align-items: center;
    gap: 1.5rem;
}
.review .box-container .box .user img{
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 1rem;
}
.review .box-container .box .user h3{
    font-size: 1.9rem;
    color: var(--pink-dark);
    margin-bottom: 3rem;
}
.contact .row{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    align-items: center;
}
.contact .row form{
    flex: 1 1 40rem;
    padding: 2rem 2.5rem;
    box-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, .1);
    border: .1rem solid rgba(0, 0, 0, .1);
    background: #fff;
    border-radius: .5rem;
}
.contact .row .image{
    flex: 1 1 40rem;
}
.contact .row .image img{
    width: 80%;
    border-radius: 2rem;
    box-shadow: 0 1rem 2.5rem rgba(0, 0, 0,.15);
    transition: transform .4s ease;
}
.contact .row .image img:hover{
    transform: scale(1.03);
}
.contact .row form .box{
    padding: 1rem;
    font-size: 1.7rem;
    color: #333;
    text-transform: none;
    border: .1rem solid rgba(0, 0, 0, .1);
    border-radius: .5rem;
    margin: .7rem 0;
    width: 100%;
}
.contact .row form .box:focus{
    border-color: var(--pink-dark);
}
.contact .row form textarea{
    height: 15rem;
    resize: none;
}
.footer .box-container{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}
.footer .box-container .box{
    flex: 1 1 25rem;
}
.footer .box-container .box h3{
    color: var(--pink-dark);
    font-size: 2.5rem;
    padding: 1rem 0;
    letter-spacing: 1px;
}
.footer .box-container .box a{
    display: block;
    color: #666;
    font-size: 1.5rem;
    padding: 1rem 0;
    transition: color .3s, padding-left .3s;
}
.footer .box-container .box a:hover{
    color: var(--pink-dark);
    text-decoration: underline;
    padding-left: .8rem;
}
.footer .credit{
    background: linear-gradient(
        90deg,
        var(--pink-light),
        var(--cream-light)
    );
    border-radius: 3rem;
    margin: 3rem auto 0;
    width: fit-content;
    padding: 2rem 4rem;
    box-shadow: 0 .5rem 1.5rem rgba(0,0,0,.1);
    font-size: 2rem;
}
.footer .credit span{
    color: var(--pink-dark);
}